:root {
  --default: #f0f8ff;
  --primary: rgb(90, 90, 194);
  --secondary: black;
}

html,
body {
  font-family: monospace;
  height: 100vh;
  background-color: var(--default);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer {
  background-color: var(--secondary);
  font-size: 20px;
  text-align: center;
  color: var(--default);
  padding: 8px;
}
main {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  background-color: var(--primary);
  padding: 15px;
  width: 400px;
  border: 2px solid black;
  border-radius: 15px;
}
.screen {
  background-color: var(--default);
  border: 2px solid black;
  margin-bottom: 20px;
  padding: 10px 20px;
  box-shadow: 2px 2px;
}
.screen-last {
  height: 35px;
  font-size: 25px;
}
.screen-current {
  text-align: right;
  font-size: 40px;
  height: 50px;
}
button {
  border-radius: 8px;
  box-shadow: 2px 2px black;
  font-family: inherit;
}
.cleanup-buttons {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.cleanup-buttons button {
  flex: 1;
  min-height: 76px;
  font-size: 25px;
}
.calc-buttons {
  display: grid;
  min-height: 300px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.calc-buttons button {
  font-size: 18px;
}
